.center {
    max-width: 1352px;
    margin: 0 auto;
}
/*HEADER*/

/*nav*/
 nav {
    width: 100%;
    box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.16);
}
nav div {
    display: flex;
    justify-content: space-between;
}
nav span {
    font-family: Raleway, Helvetica, sans-serif;
    color: #08A6E4;
    font-weight: 300;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 17px;
}
ul {
    display: flex;
}
nav a {
    text-decoration: none;
    margin-left: 100px;
    text-transform: uppercase;
    color: #A5A5A5;
    font-family: 'Open Sans', Helvetica, sans-serif;
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
}
nav a:hover:after {
    content: "";
    display: block;
    width: 90%;
    height: 4px;
    background-color: #08A6E4;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
nav a:hover {
    color: #000000;
    font-weight: 700;
}
li {
    padding-top: 27px;
    padding-bottom: 27px;
}

/*main header*/
.header__main h1 {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 49px;
    line-height: 57px;
    color: #000000;
    margin-top: 130px;
    margin-bottom: 20px;
}
.header__main h2 {
    color: #000000;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
}
.header__main a {
    display: inline-block;
    width: 440px;
    height: 67px;
    border-radius: 40px;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    padding: 22px;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 508px;
}
.header__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
/*SECTIONS*/

/*section one*/

.section-one__center {
    max-width: 895px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-one__numbers {
    display: flex;
    justify-content: space-around;
}
.section-one h2 {
    margin-bottom: 117px;
    align-self: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.section-one__numbers-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-one__numbers-element span:first-of-type {
    font-family: 'Realway', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top:22px;
    margin-bottom: 19px;
    letter-spacing: 3px;
    position: relative;
}
.section-one__numbers-element span:last-of-type {
    font-family: 'Realway', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 121px;
}
.circle {
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}
.section-one__numbers-element:first-child .circle {
    background-color: #FB3B64;
}
.section-one__numbers-element:nth-child(2) .circle {
    background-color: #08A6E4;
}
.section-one__numbers-element:last-child .circle {
    background-color: #55DFB4;
}
.section-one__numbers-element:first-child .circle:before {
    content: "";
    height: 52px;
    width: 44px;
    background-image: url("../images/icons/Person.svg");
    position: absolute;
    right: -13px;
    bottom: 5px;
}
.section-one__numbers-element:nth-child(2) .circle:before {
    content: "";
    height: 33px;
    width: 61px;
    background-image: url("../images/icons/Eye.svg");
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    right: -20px;
    bottom: 13px;
}
.section-one__numbers-element:last-child .circle:before {
    content: "";
    height: 48px;
    width: 52px;
    background-image: url("../images/icons/Catalog.svg");
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    right: -20px;
    bottom: 10px;
}
/* section two */

.section-two__center {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-two {
    background-color: #F7F7F7;
    width: 100%;
}
.section-two h2 {
    font-family: 'Realway', Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 91px;
    margin-bottom: 30px;
    margin-left: 36px;
}
.element-one h2 {
    margin: 91px 0 30px 36px;
}
.element-two h2 {
    margin: 69px 110px 30px 0;
}
.element-three h2 {
    margin: 69px 155px 30px 35px;
}
p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    position: relative;
    padding-bottom: 50px;
}
.element-one p {
    margin-left: 35px; 
}
.element-two p {
    margin: 0 70px 71px 0;
}
.element-three p {
    margin: 0 107px 70px 35px;
}
p:after {
    content: "";
    display: block;
    position: absolute;
    height:3px;
    width: 260px;
    bottom: 0;
}
.element-one p:after {
    background-color: #FB3B64;
}
.element-two p:after {
    background-color: #08A6E4;
}
.element-three p:after {
    background-color: #55DFB4;
}
.section-two__offer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.section-two__offer:first-child {
    margin-top: 105px;
    justify-content: space-between;
    height: 370px;
}
.section-two__offer:nth-child(2) {
    flex-direction: row-reverse;
}
.section-two__offer-divided {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 105px;
}
.section-two__offer-element {
    width: 407px;
    display: flex;
    flex-flow: column wrap;
}
.element-three {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 370px;
    margin-right: 60px;
}
.section-two__offer:first-child .background-item {
    position: relative;
    height: 254px;
    width: 254px;
    margin: 38px 71px 77px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two__offer:first-child .background-item__inner {
    display: block;
    height: 180px;
    width: 180px;
    border-radius: 41px;
    background-color: #FB3B64;
    transform: rotate(45deg);
}
.section-two__offer:nth-child(2) .background-item {
    display: block;
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    margin: 12px 0 38px 70px;
    position: relative;
}
.section-two__offer-divided .background-item {
    display: block;
    height: 370px;
    width: 440px;
    background-color: #55DFB4;
    border: 1px solid #E8E9ED;
    position: relative;
}
.section-two__offer:first-child .background-item:after {
    content: "";
    display: block;
    position: absolute;
    height: 219px;
    width: 386px;
    background-image: url("../images/Macbook2.png");
    bottom: -55px;
    left: -160px;
}
.section-two__offer:nth-child(2) .background-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 426px;
    height: 328px;
    background-image: url("../images/iPhone2.png");
    top: 17px;
}
.section-two__offer-divided .background-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 295px;
    height: 206px;
    background-image: url("../images/Trumpet.png");
    background-size: contain;
    bottom: 50px;
    left: 50px;
}
