.center {
    max-width: 1352px;
    margin: 0 auto;
}
/*HEADER*/

/*nav*/
nav {
    width: 100%;
    box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.16);
}
nav div {
    display: flex;
    justify-content: space-between;
}
nav span {
    font-family: Raleway, Helvetica, sans-serif;
    color: #08A6E4;
    font-weight: 300;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 17px;
}
.center ul {
    display: flex;
}
nav a {
    text-decoration: none;
    margin-left: 100px;
    text-transform: uppercase;
    color: #A5A5A5;
    font-family: 'Open Sans', Helvetica, sans-serif;
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
}
nav a:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #08A6E4;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
nav a:hover {
    color: #000000;
    font-weight: 700;
}
.center ul li {
    padding-top: 27px;
    padding-bottom: 27px;
}

/*main header*/
.header__main h1 {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 49px;
    line-height: 57px;
    color: #000000;
    margin-top: 130px;
    margin-bottom: 20px;
}
.header__main h2 {
    color: #000000;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
}
.header__main a {
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px hsla(195, 94%, 46%, 0.16);
    padding: 22px 147px 23px 147px;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 508px;
}
.header__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-position: center bottom -100px;;
    background-size: contain;
}
/*SECTIONS*/

/*section one*/
.section-one {
    width: 100%;
    box-shadow: 0px -5px 80px hsla(0, 0%, 0%, 0.16);
}
.section-one__center {
    max-width: 895px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-one__numbers {
    display: flex;
    justify-content: space-around;
}
.section-one h2 {
    margin-top: 100px;
    margin-bottom: 117px;
    align-self: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.section-one__numbers-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-one__numbers-element span:first-of-type {
    font-family: 'Realway', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top:22px;
    margin-bottom: 19px;
    letter-spacing: 3px;
    position: relative;
}
.section-one__numbers-element span:last-of-type {
    font-family: 'Realway', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 121px;
}
.circle {
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}
.section-one__numbers-element:first-child .circle {
    background-color: #FB3B64;
}
.section-one__numbers-element:nth-child(2) .circle {
    background-color: #08A6E4;
}
.section-one__numbers-element:last-child .circle {
    background-color: #55DFB4;
}
.section-one__numbers-element:first-child .circle:before {
    content: "";
    height: 52px;
    width: 44px;
    background-image: url("../images/icons/Person.svg");
    position: absolute;
    right: -13px;
    bottom: 5px;
}
.section-one__numbers-element:nth-child(2) .circle:before {
    content: "";
    height: 33px;
    width: 61px;
    background-image: url("../images/icons/Eye.svg");
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    right: -20px;
    bottom: 13px;
}
.section-one__numbers-element:last-child .circle:before {
    content: "";
    height: 48px;
    width: 52px;
    background-image: url("../images/icons/Catalog.svg");
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    right: -20px;
    bottom: 10px;
}
/* section two */

.section-two__center {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-two {
    background-color: #F7F7F7;
    width: 100%;
}
.section-two h2 {
    font-family: 'Realway', Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 91px;
    margin-bottom: 30px;
    margin-left: 36px;
}
.element-one h2 {
    margin: 91px 0 30px 36px;
}
.element-two h2 {
    margin: 69px 0px 30px 0;
}
.element-three h2 {
    margin: 69px 155px 30px 35px;
}
p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    padding-bottom: 50px;

}
.element-one p {
    margin-left: 35px; 
}
.element-two p {
    margin: 0 0px 71px 0;
}
.element-three p {
    margin: 0 107px 70px 35px;
}
p:after {
    content: "";
    display: block;
    position: absolute;
    height:3px;
    width: 260px;
    bottom: 0;
}
.element-one p:after {
    background-color: #FB3B64;
}
.element-two p:after {
    background-color: #08A6E4;
}
.element-three p:after {
    background-color: #55DFB4;
}
.section-two__offer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.section-two__offer:first-child {
    margin-top: 105px;
    justify-content: space-between;
    height: 370px;
}
.section-two__offer:nth-child(2) {
    flex-direction: row-reverse;
}
.section-two__offer-divided {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 105px;
}
.section-two__offer-element {
    width: 407px;
    display: flex;
    flex-flow: column wrap;
}
.element-three {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 623px;
    height: 370px;
    margin-right: 60px;
}
.element-two {
    width: 366px;
    margin-right: 70px;
}
.section-two__offer:first-child .background-item {
    position: relative;
    height: 254px;
    width: 254px;
    margin: 38px 71px 77px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two__offer:first-child .background-item__inner {
    display: block;
    height: 180px;
    width: 180px;
    border-radius: 41px;
    background-color: #FB3B64;
    transform: rotate(45deg);
}
.section-two__offer:nth-child(2) .background-item {
    display: block;
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    margin: 12px 0 38px 70px;
    position: relative;
}
.section-two__offer-divided .background-item {
    display: block;
    height: 370px;
    width: 440px;
    background-color: #55DFB4;
    border: 1px solid #E8E9ED;
    position: relative;
}
.section-two__offer:first-child .background-item:after {
    content: "";
    display: block;
    position: absolute;
    height: 219px;
    width: 386px;
    background-image: url("../images/Macbook2.png");
    bottom: -55px;
    left: -160px;
}
.section-two__offer:nth-child(2) .background-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 426px;
    height: 328px;
    background-image: url("../images/iPhone2.png");
    top: 17px;
}
.section-two__offer-divided .background-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 295px;
    height: 206px;
    background-image: url("../images/Trumpet.png");
    background-size: contain;
    bottom: 50px;
    left: 50px;
}
/*section three*/
.prices {
    width: 1266px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.prices h2 {
    flex-basis: 100%;
    align-self: center;
    margin-left: 576px;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 100px;
}
.prices div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.prices div h3 {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #13253B;
    margin-top: 34px;
    margin-bottom: 14px;
}
.prices div span:first-of-type {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 64px;
}
.prices-basic span:first-of-type {
    margin-bottom: 65px;
    color: #FB3B64;
}
.prices-professional span:first-of-type {
    color: #07ACE6;
}
.prices-premium span:first-of-type {
    margin-bottom: 5px;
    color: #55DFB4;
}
.prices div span:nth-of-type(2) {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #13253B;
}
.prices-premium span:nth-of-type(2) {
    margin-bottom: 50px;
}
.prices-professional span:nth-of-type(2) {
    margin-bottom: 75px;
}
.prices div ul {
    margin-bottom: 50px;
    margin-top: 35px;
}
.prices div ul li {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
    color: #000000;
    text-align: center;
    position: relative;
}
.prices-professional ul {
    margin-bottom: 79px;
    margin-top: 61px;
}
.prices-basic a,
.prices-premium a {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 50px;
    padding: 18px 40px 16px 35px;
    border-radius: 23px;
    color: #FFFFFF;
    position: absolute;
    bottom: -25px;
}
.prices-basic a {
    background-color: #FB3B64;
}
.prices-premium a {
    background-color: #55DFB4;
}
.prices-professional a {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 165px;
    background-color: #07ACE6;
    border-radius: 23px;
    color: #FFFFFF;
    padding: 16px 48px 16px 45px;
    position: absolute;
    bottom: -25px;
    box-shadow: 5px 10px 14px hsla(195, 94%, 46%, 0.16);
}
.prices-basic,
.prices-premium {
    width: 372px;
    border-radius: 18px;
    margin-top: 71px;
}
.prices-basic {
    border: 1px solid #FB3B64;
}
.prices-premium {
    border: 1px solid #55DFB4;
}
.prices-professional {
    width:405px;
    border-radius: 18px;
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px hsla(195, 94%, 46%, 0.16);
    margin-top: 50px;
}
/* adding befores to the list */

.prices-list li:before { 
    content: "";
    display: block;
    width: 10px;
    height: 21px;
    position: absolute;
    top: 3px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prices-list li:first-child:before {
    background-image: url(../images/icons/checkmark.svg); 
    left: -20px;
}
.prices-list li:nth-child(2):before {
    background-image: url(../images/icons/checkmark.svg);
    left: 25px;
}
.prices-list li:nth-child(3):before {
    background-image: url(../images/icons/checkmark.svg);
    left: 20px;
}
.prices-list li:nth-child(4):before {
    left: 25px;
}
.prices-list li:last-child:before {
    left: 20px;
}
.prices-professional li:nth-child(4):before,
.prices-premium li:nth-child(4):before,
.prices-premium li:last-child:before {
    background-image: url(../images/icons/checkmark.svg);
}

.prices-basic li:nth-child(4):before,
.prices-basic li:last-child:before,
.prices-professional li:last-child:before {
    background-image: url(../images/icons/close.svg);
}

/* icons not displaying properly */


/*form */

.form {
    width: 896px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.form h2 {
    margin-top: 179px;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 49px;
    color: #000000;
    line-height: 57px;
}
.form__info {
    width: 370px;
    display: flex;
    flex-direction: column;
}
.form__info > span {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    margin-top: 22px;
    flex-basis: 100%;
}
.form form {
    margin-top: 182px;
    width: 440px;
}
.info {
    display: flex;
    width: 365px;
    margin-top: 40px;
    justify-content: center;
}
.info .email {
    margin-right: 69px;
}
.info span {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600px;
    color: #A5A5A5;
    margin-bottom: 273px;
    position: relative;
}
.info span:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    left: -35px;
    top: -5px;
}
.info .email:before {
    background-image: url(../images/icons/Mail\ Icon.svg);
}
.info .phone:before {
    background-image: url(../images/icons/Phone\ Icon.svg);
}
/*form styling*/
label[class="data"] {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #08A6E4;
}
input[type="text"],
input[type="email"] {
    outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #A5A5A5;
	background: transparent;
	margin-bottom: 30px;
}
label[class="check"] {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    color: #707070;
    position: relative;
}

/* checkbox styling */

input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 30px;
    margin-bottom: 59px;
    position: relative;
}
.checkmark {
    position: absolute;
    display: block;
    top: -3px;
    left: 0px;
    height: 24px;
    width: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
}
.check:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-image: url(../images/icons/Checkmark-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 25px;
    left: 4px;
    top: -5px;
}
input[type="checkbox"]:checked + .checkmark:after{
   display: block;
}
/* checkbox styling - end */

button {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 20px 94px 19px 94px;
    background-color: #08A6E4;
    border-radius: 35px;
    border: none;
    box-shadow: 5px 10px 14px hsla(195, 94%, 46%, 0.16);
    margin-bottom: 106px;
    margin-left: 213px;
    cursor: pointer;
}

/* footer */
footer {
    width: 100%;
    box-shadow: 00px -5px 40px hsla(0, 0%, 0%, 0.16);
}
footer > div {
    display: flex;
    justify-content: space-between;
}
footer .logo {
    display: flex;
    flex-direction: column;
}
footer .logo span:first-child {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: #08A6E4;
    margin-top: 18px;
    margin-bottom: 6px;
}
footer .logo span:last-child {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    margin-bottom: 17px;
}
footer .social a:last-child {
    margin-left: 25px;
}
footer .social img {
    width: 24px;
    height: 24px;
    margin-top: 33px;
    margin-bottom: 30px;
}