.section-two {
    background-color: #F7F7F7;
    width: 100%;

    .section-two__center {
        max-width: 314px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media screen and (min-width:1024px) {
            max-width: 1124px;
        }

    }

    h2 {
        font-family: 'Realway', Helvetica, sans-serif;
        font-size: 30px;
        line-height: 32px;
        color: #000000;
        margin-top: 46px;
        margin-bottom: 15px;

        @media screen and (min-width:1024px) {
            font-size: 36px;
            line-height: 42px;
            margin-top: 91px;
            margin-bottom: 30px;
            margin-left: 36px;
        }
    }

    p {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-size: 14px;
        line-height: 22px;
        position: relative;
        padding-bottom: 30px;

        @media screen and (min-width:1024px) {
            font-size: 16px;
            padding-bottom: 50px;

            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                width: 260px;
                bottom: 0;
            }
        }


    }


}

.section-two__offer-element {
    width: 314px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 21px;

    @media screen and (min-width:1024px) {
        width: 407px;
    }
}


.element-one {
    h2 {

        @media screen and (min-width:1024px) {
            margin: 91px 0 30px 36px;
        }

    }

    p {
        @media screen and (min-width:1024px) {
            margin-left: 35px;
        }

        &:after {
            background-color: #FB3B64;
        }
    }
}

.element-two {
    @media screen and (min-width:1024px)  {
            width: 366px;
    margin-right: 70px;
    }


    h2 {
        @media screen and (min-width:1024px) {
                   margin: 69px 0px 30px 0; 
        }

    }

    p {
        @media screen and (min-width:1024px) {
                  margin: 0 0px 71px 0;  
        }


        &:after {
            background-color: #08A6E4;
        }
    }
}

.element-three {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 314px;
    margin-right: 60px;
    @media screen and (min-width:1024px) {
        width: 623px;
        height: 370px;
        margin-right: 60px;
    }
    h2 {
        @media screen and (min-width:1024px) {
            margin: 69px 155px 30px 35px;
        }

    }

    p { 
        @media screen and (min-width:1024px) {       
        margin: 0 107px 70px 35px;
        }

        &:after {
            background-color: #55DFB4;
        }
    }
}

.section-two__offer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 37px;

    @media screen and (min-width:1024px) {
        flex-direction: row;
    }

    &:first-child {
        margin-top: 105px;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (min-width:1024px) {
            justify-content: space-between;
            flex-direction: row;
            height: 370px;
            align-items: flex-start;
        }

        .background-item {
            position: relative;
            height: 127px;
            width: 127px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 42px;

            @media screen and (min-width:1024px) {
                height: 254px;
                width: 254px;
                margin: 38px 71px 77px 0;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 109px;
                width: 192px;
                background-image: url("../images/Macbook2.png");
                background-size: contain;
                top: 37px;
                right: 30px;

                @media screen and (min-width:1024px) {
                    height: 219px;
                    width: 386px;
                    bottom: -55px;
                    left: -160px;
                }
            }
        }

        .background-item__inner {
            display: block;
            height: 90px;
            width: 90px;
            border-radius: 41px;
            background-color: #FB3B64;
            transform: rotate(45deg);

            @media screen and (min-width:1024px) {
                height: 180px;
                width: 180px;
            }
        }
    }

    &:nth-child(2) {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width:1024px) {
            flex-direction: row-reverse;
        }

        .background-item {
            display: block;
            height: 131px;
            width: 131px;
            border-radius: 50%;
            background-color: #07ACE6;
            margin-top: 12px;
            position: relative;
            @media screen and (min-width:1024px) {
                height: 320px;
                width: 320px; 
                margin: 12px 0 38px 70px;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 175px;
                height: 134px;
                background-image: url("../images/iPhone2.png");
                top: 17px;
                background-size: contain;
                @media screen and (min-width:1024px) {
                    width: 426px;
                    height: 328px; 
                }
            }
        }

    }
}

.section-two__offer-divided {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 44px;
    @media screen and (min-width:1024px) {
        flex-direction: row;
        margin-bottom: 105px;
    }
    .background-item {
        display: block;
        height: 195px;
        max-width: 314px;
        width: 314px;
        background-color: #55DFB4;
        border: 1px solid #E8E9ED;
        position: relative;
        border-radius: 5px;
        @media screen and (min-width:1024px) {
            height: 370px;
            max-width: 440px; 
            width: 440px;
            border-radius: 0px; 
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 295px;
            height: 206px;
            background-image: url("../images/Trumpet.png");
            background-size: contain;
            bottom: -45px;
            left: -10px;
            @media screen and (min-width:1024px) {
                bottom: 50px;
                left: 50px;
            }
        }
    }
}