.calculator {
    background-color: #F7F7F7;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 100px;
    @media screen and (min-width:678px) {
        margin-top: 87px; 
        padding-bottom: 0;
    }

    h2 {
        font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 26px;
        color: #000000;
        line-height: 30px;
        padding-top: 30px;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width:678px) {
            font-size: 36px;
            line-height: 42px;
            padding-top: 87px;
            margin-bottom: 52px;
        }
    }

    .calculator_center {
        width: 100vw;
        max-width: 896px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width:678px) {
            flex-direction: row;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            width: 300px;
            margin: 0 auto;
            @media screen and (min-width:678px) {
                width: 50%;
                margin: 0;
            }

            input[type="number"],
            .calculator_form--out {
                height: 40px;
                width: 300px;
                border: 1px solid #08A6E4;
                border-radius: 6px;
                box-shadow: 0px 3px 6px hsla(196, 93%, 46%, 0.16);
                margin: 0 auto 15px auto;
                font-family: 'Open Sans', Helvetica, sans-serif;
                font-size: 13px;
                line-height: 18px;
                padding-left: 20px;

                @media screen and (min-width:678px) {
                    height: 40px;
                    width: 440px;
                    margin-bottom: 23px;
                }
            }

            input[type="number"] {
                color: #A5A5A5;
            }

            .calculator_form--out {
                background-image: url("../images/icons/Arrow\ Down.svg");
                background-repeat: no-repeat, repeat;
                background-position: right .7em top 50%, 0 0;
                background-size: 20px 20px;
                position: relative;
                background-color: #FFFFFF;

                #placeholder {
                    padding-top: 11px;
                    color: #A5A5A5;
                }

                .calculator_form--in {
                    position: absolute;
                    background-color: #FFFFFF;
                    width: 300px;
                    border: 1px solid #EB476E;
                    border-radius: 6px;
                    box-shadow: 0px 3px 6px hsla(345, 80%, 60%, 0.16);
                    top: 50px;
                    left: -1px;
                    z-index: 1;
                    font-family: 'Open Sans', Helvetica, sans-serif;
                    font-size: 13px;
                    color: #000000;
                    line-height: 18px;
                    @media screen and (min-width:678px) {
                        width: 440px;
                    }

                    li {
                        padding: 11px 0px 10px 20px;

                        &:hover {
                            background-color: #ccc;
                        }
                    }
                }

            }

            input[name="accountant"] {
                margin-bottom: 24px;
            }

            input[name="credit-card"]:last-of-type {
                margin-bottom: 60px;
                @media screen and (min-width:678px) {
                    margin-bottom: 109px; 
                }
            }
            .check {
                align-self: flex-start;
            }

        }

        .calculator-prices {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 300px;
            margin: 0 auto;
            @media screen and (min-width:678px) {
                width: 50%;
                margin: 0;
            }

            .calculator-prices__element {
                display: flex;
                justify-content: space-between;
                background-color: #55DFB4;
                box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.16);
                border-radius: 6px;
                padding: 6px 20px 6px 20px;
                color: #FFFFFF;
                margin-bottom: 8px;

                font-family: 'Open Sans', Helvetica, sans-serif;
                font-size: 14px;
                line-height: 19px;
                @media screen and (min-width:678px) {
                    margin-left: 44px;
                }

                span:last-child {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .hidden {
                display: none;
            }
            .sum {
                background-color: #08A6E4;
                border-radius: 6px;
                box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.16);
                font-family: 'Open Sans', Helvetica, sans-serif;
                color: #FFFFFF;
                margin-top: 22px;
                padding: 10px 19px 10px 15px;
                width: 178px;
                align-self: flex-end;
                display: flex;
                position: absolute;
                bottom: -60px;
                @media screen and (min-width:678px) {
                    bottom: 70px;
                }

                span {
                    &:first-child {
                        font-size: 14px;
                        line-height: 19px;
                        margin-right: 50px;
                    }

                    &:last-child {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}